$accent: #373c8c;
$info: #b7dbff;
$success: #00c300;
$warning: #ffaa00;
$error: #d91a26;
$text-color: #393a3c;
$bg-color: #ffffff;
$hovered-text: #656565;
$hovered-bg: #ededed;

$label-color: #969696;
$faded-bg-color: #fafafa;

$border-color: #f0f0f0;
$border-color-dark: #c8c8c8;

$progress-bg-color: #e5e5e5;

$next-route-color: #9496B4;
$timeline-tick-color: #b2b2b2;
$box-color: #f8f8f8;
