<div class="header-wrap">
  <a href="javascript:;" [routerLink]="['/']" >
    <img class="logo" src="/assets/i/logo.png" alt="PanalpinaLogo">
  </a>
  <div class="actions">
    <!-- header navigation links -->
    <ul>
      <li><a href="javascript:;">Our solutions</a></li>
      <li><a href="javascript:;">Industries</a></li>
      <li><a href="javascript:;">About us</a></li>
      <li><a href="javascript:;">Investors</a></li>
      <li><a href="javascript:;">Careers</a></li>
      <li><a href="javascript:;">News</a></li>
      <li><a href="javascript:;">Tools</a></li>
      <li><a href="javascript:;">Contact us</a></li>
    </ul>
    <div class="login">Login <span class="ic ic-dropdown-w"></span></div>
  </div>
</div>
